.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: none;
  background-color: #ffffff;
  border-width: 1px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 42px;
  margin-left: 42px;
  border: 2px solid rgb(224, 222, 222);
  border-radius: 21px;
  height: 105px;
  
}


